<section>
<h2>Your Pokemon Belt</h2>
</section>
{{#each pokeId}}
<div>
<p>
{{pokeId}}
</p>
<button value={{id}} class="deletelistener"> Remove From Team </button>
<img id="pokeSprite" class="w-full" src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokedex}}.png' alt="pokemom-logo" />
</div>
{{/each}}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/javascript/dashboard.js"></script>